button {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 0.3rem;
  margin: 0.3rem;
  padding: 0.5rem;
  font: 1.1rem;
  &:hover {
    background-color: black;
    color: whitesmoke;
  }
}
form {
  input {
    font-size: 1.1rem;
    margin: 1rem;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 0.5rem;
  }
}
.task-head {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-right: 1rem;
  margin-left: 0rem;
  .task-head-name {
    margin-inline-start: -5;
    width: 50%;
  }
  .task-head-time {
    width: 20%;
  }
  .task-head-actions {
    width: 30%;
  }
}
