<div class="main-container">
  <form action="">
    <input
      type="text"
      #newTask
      (blur)="(newTask.value)"
      placeholder="New task"
    />
    <input type="time" #newTaskTime (blur)="(newTaskTime.value)" />
    <button
      type="button"
      (click)="addNewTask(newTask.value, newTaskTime.value)"
      (click)="newTask.value = ''"
      (click)="newTaskTime.value = ''"
    >
      Add new task
    </button>
  </form>
</div>

<div *ngIf="todolist.length >= 1; else emptySchedule">
  <h1>List of things to do today!</h1>
  <div class="task-head">
    <div class="task-head-name"><h2>Task</h2></div>
    <div class="task-head-time"><h2>Time</h2></div>
    <div class="task-head-actions"><h2>Actions</h2></div>
  </div>
</div>
<div>
  <ng-template #emptySchedule>
    <h1>Yay! Your schedule is empty!</h1>
    <p>Take your day off!</p>
  </ng-template>
</div>

<div *ngFor="let t of orderedList" class="tasks-container">
  <app-task [task]="t" (deleted)="removeDeletedTask($event)"></app-task>
</div>
