<div class="task">
  <div class="task-name">
    <h3 id="task-todo">{{ task.todo }}</h3>
    <h3 *ngIf="task.done" id="task-checkmark">&#10003;</h3>
  </div>
  <div class="task-time">
    <p>{{ task.time }}</p>
  </div>
  <div class="task-actions">
    <button *ngIf="!task.done" class="task-buttons" (click)="addToDone(task)">
      Done!
    </button>
    <button class="task-buttons" (click)="showDeleteDialogue()">
      Delete
    </button>
    <button class="task-buttons">Reschedule</button>
  </div>
</div>
<div [hidden]="!displayed" class="delete-dialogue">
  <span class="close" (click)="hideDeleteDialogue()">&times;</span>
  <h3>Do you want to delete {{ task.todo }}?</h3>
  <button>Yes</button> <button>No</button>
</div>
