button {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 0.3rem;
  margin: 0.3rem;
  &:hover {
    background-color: black;
    color: whitesmoke;
  }
}
button.dialogue-buttons {
  width: 45%;
  margin: 0.1rem;
  font-size: 1rem;
  background: linear-gradient(
    45deg,
    #f5b29e,
    #fcaac9,
    #edb6f8,
    #94dffa,
    #bffced
  );
  background-size: 10000% 100%;
  animation: gradient 5s linear infinite;
  animation-direction: alternate;
  padding: 0.3rem;
}
.task {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0.5rem;
  margin-left: 0rem;
  .task-name {
    width: 50%;
    padding-block-start: 0.6em;
    #task-todo {
      display: inline;
    }
  }
  #task-checkmark {
    display: inline;
    color: green;
    font-size: 1.5rem;
  }

  .task-time {
    width: 20%;
  }
  .task-actions {
    width: 30%;
    justify-content: space-between;

    .task-buttons {
      display: flex;
      flex-direction: column;
    }
  }
}
.task-dialogue {
  width: 45%;
  position: fixed;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  border-radius: 1rem;
  background-color: rgb(243, 221, 243);
  z-index: 1;
  padding: 1.5rem;
  background-color: black;
  color: rgb(243, 221, 243);

  .close {
    color: rgb(243, 221, 243);
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: rgb(241, 7, 7);
    text-decoration: none;
    cursor: pointer;
  }
  input {
    margin: 0.2rem;
    padding: 0.3rem;
    border-radius: 0.3rem;
    border: 1px solid black;
  }
}

@keyframes backgroundtransform {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
